.lugar {
  display: flex;
  position: relative;
  z-index: 1;
  gap: 1rem;
  flex-wrap: wrap;
}

.lugar img {
  border-radius: 2rem;
}

.separador {
  border-bottom: 1px solid #fdfdfd;
  padding-bottom: 2rem;
}

.alojamiento {
  position: relative;
  padding: 2rem;
  background-color: #162e44;
  color: var(--light-color);
  flex: auto;
}

.alojamiento .contenido {
  position: relative;
}

.contenido {
  display: flex;
  flex-direction: column;
}

.alojamiento h1 {
  margin-bottom: 2rem;
}

.foto-principal {
  height: 28.5rem;
  min-width: 18rem;
  max-width: 60rem;
  flex: 1 1 20.5rem;
}

.fotos-container {
  flex: 1;
}

.foto-ver-mas {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fotos img {
  filter: brightness(80%) grayscale(80%);
  min-width: 7rem;
  cursor: pointer;
  max-height: 20rem;
  transition: all 0.5s;
}

.fotos img:hover {
  filter: brightness(100%) grayscale(0%);
}

.foto-ver-mas p {
  cursor: pointer;
  position: absolute;
  font-size: 2rem;
  text-shadow: 1px 1px 10px black;
}

.fotos {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  min-width: 18rem;
  flex: 1 1 20.5rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.descripcion-alojamiento {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex: 1;
  min-width: 20rem;
}

.foto-anfitrion {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.anfitrion {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-content: center;
}

.especificaciones-alojamiento {
  /* display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap; */
  text-align: left;
}

.especificaciones-alojamiento ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detalles-alojamiento {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}

.contenedor-mapa {
  flex: 1;
  min-width: 20rem;
  max-width: 50rem;
}

.estado {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.reservado {
  color: brown;
}

.disponible {
  color: forestgreen;
}
