
.about-section {
  padding: 1.85em;
}

.imagen-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
    justify-content: space-between; /* Distribuye uniformemente los elementos a lo largo del contenedor */
    padding-top: calc(var(--padding-helper-horiz) * 0.5);
    padding-bottom: var(--padding-helper-horiz);
  }
  
  .imagen-container figure {
    width: calc(33.33% - 1rem); /* Establece el ancho del elemento figure */
    margin-bottom: 2rem; /* Agrega un margen inferior para separar las im치genes */
  }
  
  .imagen-container figure .imagen img {
    width: 100%; /* Ajusta el ancho de la imagen para llenar el contenedor */
    height: 300px; /* Permite que la altura de la imagen se ajuste autom치ticamente */
    border-radius: 10px; /* Aplica un borde redondeado con un radio de 10px */
    object-fit: cover;/* Ajuste para cubrir el contenedor manteniendo la relaci칩n de aspecto */
  }
  .custom-icon {
    color: #ffeb3b; /*Elijo color*/
  }
  .acerca-main {
    padding: var(--padding-helper-horiz);
  }
  
@media (max-width: 768px) {
  .imagen-container figure {
    width: 100%; /* Cambia el ancho del elemento figure para dispositivos m칩viles */
  }
}