:root {
  --hidden: 100% 0;
  --visible: 0 0;
}
.nav {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
  box-shadow: var(--box-shadow);
}
.navLinks {
  display: none;
}

.hidden {
  translate: var(--hidden);
}
.visible {
  translate: var(--visible);
}

.navLinks a {
  padding: 1rem 2rem;
  text-transform: capitalize;
}

.navLogo {
  margin-right: auto;
}
.navLogo svg {
  height: 3rem;
  width: 3rem;
}

.navLogoLink {
  display: flex;
  align-items: center;
}
.header {
  position: relative;
}

.navLinksMobile {
  position: absolute;
  bottom: 0;
  right: 0;
  /* transform: translateY(100%); */
  translate: 100% 100%;
  z-index: 4;
  background: var(--primary-color);
  border-radius: 0 0 5px 5px;
  box-shadow: var(--box-shadow);
  transition: translate 0.3s ease;
}
.navLinksMobile li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 1rem 2rem;
  padding-left: 1rem;
}

@media only screen and (min-width: 40em) {
  :root {
    --hidden: 0 0;
  }
  .navLinks {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    position: static;
    gap: 1rem;
    border: none;
    padding: 0%;
    box-shadow: none;
    transition: none;
    flex-wrap: wrap;
  }
  .navLinksMobile {
    display: none;
  }
}
