.carrusel {
  position: relative;
  max-width: 50rem;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  color: black;
  /* margin-top: 1rem; */
}

.contenido-carrusel {
  /* display: flex;
  transition: transform 1s ease-in-out;
  width: 100%; */
}

.item-carrusel {
  /* transform: scale(1.1); */
  transition: opacity 1s ease, transform 1s ease;
  /* transition: opacity 1s ease-in-out; */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.item-carrusel.item-activo {
  opacity: 1;
  transform: scale(1);
  position: relative;
  pointer-events: all;
}

.boton-carrusel {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding-left: 1rem;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.1s;
  border-radius: 10px;
}

.boton-carrusel:active {
  opacity: 0.5;
  transform: translateY(2px);
}

.boton-carrusel.izquierda {
  left: 1px;
}

.boton-carrusel.derecha {
  right: 1px;
}
