.btn {
  border-radius: 10px;
}
.btn-add {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.btn-update {
  background-color: var(--edit);
  color: var(--primary-color);
}
.btn-delete {
  background-color: var(--danger);
}
.btn-cancel {
  background-color: var(--light-blue);
}
:is(.btn-delete, .btn-add, .btn-update, .btn-cancel) {
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  border-radius: 20px;
}
:is(.btn-delete, .btn-add, .btn-update, .btn-cancel):hover {
  box-shadow: var(--box-shadow);
}
