.tarjetas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.tarjeta-alojamiento {
  padding: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  max-width: 10rem;
}

.tarjeta-alojamiento img {
  height: 9rem;
  width: 10rem;
  align-items: center;
  border-top-left-radius: 2rem;
}

.tarjeta-descripcion {
  text-align: left;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 0.9rem;
}

.card-list {
  flex-direction: column;
  display: flex;
  /* margin-top: 2rem; */
}
